.gallery__list {

height: 100%;
display: flex;
flex-wrap: wrap;
justify-content:space-between;

}


.gallery__item {
  width: 25%;
  height: 50%;
  position:relative;

}


 
.gallery__photo  {
  height: 100%;
  }

  .gallery__pic   {
  width: 100%;
  height: 100%;
  object-fit: cover;

  
  }


.comments__block {

  position: absolut;
  opacity:0;
  transition: opacity 0.5s;
  padding: rem(50px) rem(20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  
  }

  .comments__title  {
    font-family: 'gagalinregular';
    font-weight: 400;
    font-size: rem(14px);
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: rem(20px);
    color: #fff;
  }
  .comments__text  {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: rem(14px);
    font-style: normal;
    line-height: 1.5rem;
    margin-bottom: rem(20px);
    color: #fff;
}

.comments__button {

  background-color: #2f3234;
  padding: rem(10px) rem(15px); 
  border:1px solid transparent;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  display: inline-block;
  min-width:rem(98px);
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.5s;
  
  }

  .comments__button:hover{
  background-color: #171819;

  }

.gallery__item:hover .comments__block {
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.7); 


    }





   



